

.zui-table-rounded {
    border: none;
}
.zui-table-rounded thead th {
    /*background-color: #CFAD70;*/
    border: none;
    border-color: blue;
    border-radius: 5px 0 0 0;
    text-shadow: 1px 1px 1px #ccc;
    padding: 30px;
    background-color: darkgrey;
    /*color: #333;*/
}
.zui-table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.zui-table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}


.zui-table-rounded tbody tr:nth-child(odd) {
    background-color: #eee;
} 
.zui-table-rounded tbody tr:nth-child(even) {
    background-color: #ddd;
} 
.zui-table-rounded tbody tr:hover {
    background-color: chartreuse;
} 

.zui-table-rounded tbody td {
    /*border: none;*/
    padding: 10px;
    /*border-top: #aaa solid 1px;*/

    /*border-top: solid 1px #957030;*/
}

.zui-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
